/*color pallette
#C7BB8B
#949185
#FAE17D
#615B44
#332E1A
*/

body{
    background-color:whitesmoke;
    color: #332E1A;
    text-align: center;
    font-family: Arial;
}
#color1{
    background-color:#949185;
    border-style: solid;
   border-width: 1px;
    border-color: #332E1A;
    width: 500px;
    margin: auto;
    margin-top: 12px;
    
    
}
#color2{
    background-color:#FAE17D;
    border-style: solid;
   border-width: 1px;
    border-color: #332E1A;
    width: 500px;
    margin: auto;
    margin-top: 12px;


}
#color3{
    background-color:#615B44;
    border-style: solid;
   border-width: 1px;
    border-color: #332E1A;
    width: 500px;
    margin: auto;
    margin-top: 12px;
    /*color:#FAE17D;*/

}
#color4{
    background-color:#332E1A;
    border-style: solid;
   border-width: 1px;
    border-color: black;
    margin: auto;
    margin-top: 12px;
    width: 500px;
   
    
  /*  color:#FAE17D;*/
}
.daveFace{
    width: 400px;
    height: 400px;
    background-color: #FAE17D;
    border-radius: 50%;
    position: relative;
    margin: 0 auto;
    margin-top: 50px;
    border: 5px solid #615B44;
    margin: center;
    margin-bottom: 18px;
}
#topbar{
   background-color: #949185;
   font-family: Arial;
   text-decoration: none;
   padding: 10px;
   border-style: solid;
   border-width: 1px;
    border-color: #332E1A;
    width: 500px;
    margin: auto;
}
/*#indexfooter{
    background-color: #949185;
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    padding: 10px;
}*/
.main-links-light{
    text-decoration: none;
    color:#FAE17D;

}
.main-links-light:visited{
    text-decoration: none;
    color:#FAE17D;

}
.main-links-light:hover{
    text-decoration: none;
    color:#C7BB8B;

}
.main-links-dark{
    text-decoration: none;
    color:#332E1A;

}
.main-links-dark:visited{
    text-decoration: none;
    color:#332E1A;

}
.main-links-dark:hover{
    text-decoration: none;
    color:#C7BB8B;
  

}
#essay{
    width: 60%;
    margin: 0 auto;
    text-align: left;
    margin-bottom: 18px;
    font-size: 14pt;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 1);
    transition: .3s;
    padding: 50px;
    background-color: #FAE17D;
}
.mat-eng{
    width: 80%;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 18px;
    
    
}
.material{
    width: 20%;
    height: 105px;
    margin: 0 auto;
    text-align: left;
    border-radius: 10%;
    margin-right: 8px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 1);
    transition: .3s;
  
}
.grad{
    border-radius: 10%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 1);
    transition: .3s;
  

}
.mat2{
    width: 20%;
    height: 105px;
    margin: 0 auto;
    text-align: left;
    border-radius: 10%;
    margin-left: 8px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 1);
    transition: .3s;
}
.dag1{
    margin: 0 auto;
    text-align: left;
    border-radius: 10%;
    margin-right: 8px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 1);
    transition: .3s;
}
.mil{
    width: 48%;
    height: 330px;
    margin: 0 auto;
    text-align: left;
    border-radius: 10%;
    margin-left: 8px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 1);
    transition: .3s;

}
.mil2{
    width: 48%; /* 24*/
    height: 330px;  /* 115*/
    margin: 0 auto;
    text-align: left;
    border-radius: 10%;
    margin-right: 8px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 1);
    transition: .3s;

}
.mil-pic{
    width: 100%;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 18px;
    
}
#wholepage{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 1);
    transition: .3s;
    width: 800px;
    margin: auto;
    height: 900px;
    background-color: white;
    
}
.dog{
    border-style: solid;
    border-width: 2px;
    border-radius: 10%;
    border-color: #332E1A;
    width: 35%;
    margin-left: 12px;

}
.garden{
    border-style: solid;
    border-width: 2px;
    border-radius: 10%;
    border-color: #332E1A;
    width: 35%;
    margin-right: 12px;
}
.wow{
    border-style: solid;
    border-width: 2px;
    border-radius: 10%;
    border-color: #332E1A;
    margin-bottom: 24px;
}
.hobby{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 1);
    transition: .3s;
    padding: 50px;
    width:20%;
    margin: 0 auto;
    margin-top: 96px;
    background-color: white;
}
#hobby-list{
    width: 60%;
    margin: 0 auto;
    text-align: left;
    margin-bottom: 18px;
    font-size: 14pt;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 1);
    transition: .3s;
    padding: 50px;
    background-color: lightgrey  ;
}
a{
    text-decoration: none;
    
}